.red {
	color : #f00;
}

.blue {
	color : #00f;
}

.green {
	color : #0f0;
}

.tips {
	display    : block;
	background : #ececec;
	color      : #312bff;
	padding    : 10px;
	width      : 100%;
}

.td-modify {
	cursor     : pointer;
	background: #c9f3db;
	/* padding: 5px 5px; */
	/* margin: 1px 1px; */
}

.td-modify:hover {
	background: #f8d3ff;
}

.search-btn {
	position : fixed;
	top      : 100px;
	left     : 100px;

}