.red {
	color : #f00;
}

.blue {
	color : #00f;
}

.green {
	color : #0f0;
}

.bold {
	font-weight : bold;
}

.tips {
	display    : block;
	background : #ececec;
	color      : #312bff;
	padding    : 10px;
	width      : 100%;
}

.td-modify {
	cursor     : pointer;
	background : #c9f3db;
	/* padding: 5px 5px; */
	/* margin: 1px 1px; */
}

.td-modify:hover {
	background : #f8d3ff;
}

.search-btn {
	position : fixed;
	top      : 100px;
	left     : 100px;

}

.profile_pic_preview {
	width : 100%;
}

.error_remind {
	margin : 10px;
}

.error_remind span {
	display : block;
	margin  : 3px 0;
}

.error-tip {
	color       : #f00;
	font-weight : bold;
}

label.valid {
	color : #58c75d;
}

.preview-img {
	cursor : pointer;
}

textarea.name {
	cursor : pointer;
}
.install-action  {
	display : none;
}